#container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blanchedalmond;
    
}


.demo {
    display: flex;
    gap: 15px;
    padding: 20px;
    background-color: aqua;
    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid aqua;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    transition: background-color 1s,transform 1s,border 1s;}

.content:hover{
    border-color: rgb(124, 67, 177);
}

.damian{
    background-color: rgb(11, 165, 114);
}


.fizz:hover{
    background-color: rgb(208, 33, 33);
}

.buzz:hover{
    transform: translateY(-5px);
}

.fizzbuzz:hover {
    background-color: #0d5ec1;
    transform: translateY(-5px) rotate(5deg); 
}