.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blanchedalmond;
    display: flex;
}


.demo {
    display: flex;
    gap: 15px;
    padding: 20px;
    background-color: aqua;
    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid aqua;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    transition: background-color 1s,transform 1s,border 1s;}

.content:hover{
    background-color: brown;
    transform: translateY(-5px) translateX(5px) rotate(5deg);
    border: 1px solid pink;
}

.damian{
    background-color: rgb(11, 165, 114);
}